* {
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}


.weatherApp{
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.weatherMain {
  display: block;
  margin-top: 10vh;
}


.temperature {
  font-size: 4em;
}

.temperature span {
  visibility: 0.7;
}

.location {
  font-size: 1.5em;
  visibility: 0.8;
}

.otherData {
  font-size: 1.7em;
  visibility: 0.8;
}

