* {
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}

body {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

hr {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #000;
}

#wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}
/*******************************************
    #mainData
*******************************************/

#mainData {
  width: 100%;
  position: relative;
}

.smallContainerWeather { 
  position: absolute;
  height: 250px;
  min-width: 550px;
  left: 100px;
  bottom: 50px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(10px);
}


.temperature {
  font-size: 8em;
}

.location {
  font-size: 1.7em;
}

.weatherDetails {
  display: flex;
  flex-direction: column;
}

/*******************************************
    .aside
*******************************************/
.aside {
  width: 33vw;
  min-width: 550px;
  height: 100%;
  display: inline-block;
  backdrop-filter: blur(10px);
  color: #fff;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.search input {
  height: 40px;
  width: 80%;
  padding: 0 20px;
  margin: 0 auto;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}

.search input:focus-visible {
  outline: none;
}

#searchIcon {
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 5px;
}

.search button {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: none;
}

.search button:hover {
  border-bottom: 2px solid #000;
}

.citiesList {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.citiesList li,
.weatherInfo li  {
  height: 50px;
  line-height: 50px;
  padding: 0px 50px;
}

.citiesList > li { transform: scale(1) }

.citiesList > li:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 300ms ease;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

.weatherInfo li {
  width: 100%;
  display: flex;
  
  justify-content: space-between;
  flex-direction: row;
}




@media (min-width: 561px) and (max-width: 1250px) {
  body { overflow:  hidden; }

  #wrapper { display: block; width: 100%;}

  .smallContainerWeather {
    width: 50vw;
    position: relative;
    margin: auto;
    left: auto;
    bottom: auto;
  }

  .aside { width: 50vw; }
}

@media (max-width: 560px) {
  body { overflow:  hidden; }
  #wrapper { display: block;}
  .smallContainerWeather,
  .aside {
    width: 100vw;
  }
  .smallContainerWeather {
    position: relative;
    margin: auto;
    left: auto;
    bottom: auto;
    width: 100%;
  }
  .aside { height: auto;}
}